---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import { intersperse } from "../utils";
import { Calendar } from "../components/Calendar";
import { providers } from "../utils/providers";
import Provider from "../components/Provider.astro";
import avatarSrc from "../assets/avatar.jpg";
---

<Layout>
	<main>
		<div
			class="mb-5 grid grid-cols-1 rounded-2xl bg-white p-10 shadow-2xl md:grid-cols-3"
		>
			<div class="border-b p-5 text-center md:border-b-0 md:border-r">
				<Picture
					src={avatarSrc}
					width={256}
					height={256}
					class="mx-auto mb-5 h-32 w-32 rounded-full bg-avatar-blur bg-cover bg-no-repeat shadow-xl"
					alt="Andrei Luca"
				/>
				<h1 class="mb-3 text-3xl">Andrei Luca</h1>
				<a
					href="https://allindevelopers.com"
					class="inline-block rounded bg-gray-200 px-3 py-2 text-sm hover:bg-green-300"
				>
					❤️&nbsp;&nbsp;<code>All In Developer</code>
				</a>
			</div>
			<div class="col-span-2 flex items-center p-5">
				<Socials />
			</div>
		</div>
		<div class="overflow-x-auto rounded-2xl bg-white shadow-2xl">
			<div class="min-h-[259px] min-w-[940px] p-10">
				<Calendar />
				<script>
					let selector = ".react-activity-calendar__count";
					let element = globalThis.document.querySelector(selector);
					let textContent = element?.textContent;

					if (element && textContent) {
						let count = Number.parseInt(textContent);
						let countPerDay = Math.round(count / 365);

						let html = String.raw;

						element.innerHTML = html`
							<span>${textContent}</span>
							<span class="animate-fade-down animate-delay-1000">
								Almost ${countPerDay} per day 🚀
							</span>
						`;
					}
				</script>

				<div class="text-sm">
					<span>Sources:</span>
					<ul class="ml-1 inline-flex gap-1">
						{
							intersperse(
								providers.map((provider) => <Provider provider={provider} />),
								<li class="-ml-1">,</li>,
							)
						}
					</ul>
				</div>
			</div>
		</div>
	</main>
</Layout>
