body {
	overflow: auto !important;
}

body:after {
	display: none !important;
}

#main > .inner {
	opacity: 1.0 !important;
}

#main {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}