---
import IconX from "../components/icons/IconX.astro";
import IconYouTube from "../components/icons/IconYouTube.astro";
import IconGitHub from "../components/icons/IconGitHub.astro";
import IconLinkedin from "../components/icons/IconLinkedin.astro";

let socials = [
	{
		url: "/x",
		title: "x.com",
		icon: IconX,
	},
	{
		url: "/youtube",
		title: "youtube.com",
		icon: IconYouTube,
	},
	{
		url: "/github",
		title: "github.com",
		icon: IconGitHub,
	},
	{
		url: "/linkedin",
		title: "linkedin.com",
		icon: IconLinkedin,
	},
];
---

<ul class="mx-auto inline-grid grid-cols-4 gap-2 sm:max-w-md">
	{
		socials.map((social) => (
			<li>
				<a
					href={social.url}
					title={social.title}
					class="inline-grid size-10 place-content-center rounded bg-gray-200 hover:bg-green-300"
				>
					<social.icon class="h-6 w-6 shrink-0 text-gray-600" />
				</a>
			</li>
		))
	}
</ul>
