---
import IconGitHub from "../components/icons/IconGitHub.astro";
import IconLinkedin from "../components/icons/IconLinkedin.astro";
import IconDev from "../components/icons/IconDev.astro";

let socials = [
	{ url: "/github", title: "github.com", icon: IconGitHub },
	{ url: "/linkedin", title: "linkedin.com", icon: IconLinkedin },
	{ url: "/dev", title: "dev.to", icon: IconDev },
];
---

<ul class="mx-auto inline-grid grid-cols-3 gap-2 sm:max-w-md">
	{
		socials.map((social) => (
			<li>
				<a
					href={social.url}
					title={social.title}
					class="inline-grid size-10 place-content-center rounded bg-gray-200 hover:bg-green-300"
				>
					<social.icon class="h-6 w-6 shrink-0 text-gray-600" />
				</a>
			</li>
		))
	}
</ul>
