---
import "../react-activity-calendar.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Full stack developer!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="canonical" href="https://luca.md/" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrei Luca | All In Developer</title>
	</head>
	<body>
		<div
			class="flex min-h-screen items-center justify-center bg-green-900 bg-hexagon-pattern p-3"
		>
			<div class="relative max-w-full">
				<slot />
			</div>
		</div>
	</body>
</html>
